<%= search_form_for @q do |f| %>
  <div class="input-group">
    <%= f.text_field :name_cont, placeholder: "ユーザー名を入力",
                      class: 'form-user-search' %>
    <span class="input-group-btn">
     <%= f.submit '検索する', class: "btn btn-primary" %>
    </span>
  </div>
<% end %>