<% provide(:title, @title) %>
<h1><%= @title %></h1>

<div class="row">
  <div class="all_user2">
    <div class="search_form">
      <%= render 'users/search_form' %>
    </div>

    <ul class="users">
      <%= render @users %>
    </ul>
  </div>
</div>

